:root {
  --main-back-color: #fafafa
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdebcd;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

#app{
  display: flex;
  justify-content: center;
}

h2{
  margin: 24px 24px 0 24px;
  border-bottom: 3px solid black;
}

#new-todo-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  background-color: var(--main-back-color);
  padding: 1em;
  border: 3px solid black;
  margin: 1rem;
  border-radius: 10px;
}

.new-todo-actions{
  align-self: flex-end;
  margin: 0 24px 24px 0;
}

#edit-modal{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  display: none;
}

#edit-todo-form{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-back-color);
  padding: 20px;
  border: 3px solid black;
  height: 180px;
  width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* display: none; */
  border-radius: 10px;
}

input{
  height: 2rem;
  width: 300px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid black;
  font-size: 1em;
  padding: 0.5em 0.5em;
  margin: 24px;
}

input#edit-todo{
  width: auto;
}

button{
  padding: 0.6rem 1rem;
  border-radius: 16px;
  border: none;
  background-color: black;
  color: white;
}

button.delete, button.edit{
  background-color: transparent;
  font-size: 1em;
  padding: 0.2em;
  transform: scaleX(-1);
}

button.save-edit{
  align-self: flex-end;
  margin: 0 24px 24px 0;
}

#checkbox{
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}

#checkbox:checked{
  accent-color: rgb(98, 214, 148);
}

.current-tasks-wrapper{
  background-color: var(--main-back-color);
  padding: 1rem;
  margin: 1rem;
  border: 3px solid black;
  border-radius: 10px;
}

li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  padding-top: 8px;
  border-bottom: 2px solid black;
  margin: 24px;
}

.todo-title.finished{
  text-decoration: line-through;
}

.todo-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.todo-item > *{
  margin: 0 2px;
}

.todo-actions{
  display: flex;
  justify-content: flex-end;
  padding-left: 2em;
}

